<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="/fizzbuzz/css/bootstrap.css">

    <title></title>
  </head>
  <body>
    <!-- JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="/fizzbuzz/js/jquery-3.3.1.js"></script>
    <script src="/fizzbuzz/js/umd/popper.js"></script>
    <script src="/fizzbuzz/js/bootstrap.js"></script>
  </body>
</html>
