<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{{url_for('static', filename='css/jquery-ui.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='css/bootstrap.css')}}">

    <title id="title"></title>
  </head>
  <body>
    <div id="TOP_DIV" class="container-fluid w-75"></div>
    <div class="container-fluid h-100 w-75">

      <div id="NAME_DIV" class="row justify-content-center align-items-center h1 FLD"></div>
      <div id="LOCATION_DIV" class="h4 row align-items-center justify-content-center container FLD"></div>

      <div class="row justify-content-center align-items-center h6">
        <div id="EMAIL_DIV" class="col FLD_LINK"></div>
        <div id="WEBSITE_DIV" class="col FLD_LINK"></div>
        <div id="GITHUB_DIV" class="col FLD_LINK"></div>
        <div id="LINKEDIN_DIV"class="col FLD_LINK"></div>
      </div>
      <br>

      <!-- Enable reordering of sections -->
      <ul id="sortable" class="list-unstyled">
        <li id="education_li">
          <!-- EDUCATION SECTION --> 
          <div id="EDUCATION_SECTION_DIV">
            <div class="container row justify-content-left align-items-left h3 border-bottom">Education</div>
            <!-- DEGREE SECTION --> 
            <div id="EDUCATION_DIV" class="container FLD"></div>
            <br>
          </div>
        </li>

        <li id="knowledge_li">
          <!-- KNOWLEDGE SECTION --> 
          <div id="KNOWLEDGE_SECTION_DIV">
            <div class="row justify-content-left align-items-left h4 border-bottom">KNOWLEDGE</div>
            <div id="KNOWLEDGE_DIV" class="container row FLD"></div>
          </div>
          <br>
        </li>

        <li id="language_li">
          <!-- PROGRAMMING LANGUAGES SECTION --> 
          <div id="PROGRAMMING_LANGUAGE_DIV">
            <div class="row justify-content-left align-items-left h4 border-bottom">PROGRAMMING LANGUAGES</div>
            <div id="LANGUAGES_DIV" class="container row FLD"></div>
            <br>
          </div>
        </li>

        <li id="framework_li">
          <!-- FRAMEWORK SECTION --> 
          <div id="FRAMEWORKS_SECTION_DIV">
            <div class="row justify-content-left align-items-left h4 border-bottom">FRAMEWORKS</div>
            <div id="FRAMEWORKS_DIV" class="container row FLD"></div>
            <br>
          </div>
        </li>

        <li id="database_li">
          <!-- DATABASE SECTION --> 
          <DIV ID="DATABASES_SECTION_DIV">
          <div class="row justify-content-left align-items-left h5 border-bottom">DATABASES</div>
          <div id="DATABASE_DIV" class="row FLD"></div>
    </div>
          <br>
        </li>

        <li id="os_li">
          <!-- OPERATING SYSTEMS SECTION --> 
          <div id="OPERATING_SYSTEMS_DIV">
            <div class="container row justify-content-left align-items-left h6 border-bottom">OPERATING SYSTEMS</div>
            <div id="OS_DIV" class="container row FLD"></div>
            <br>
          </div>
        </li>

        <li id="cproj_li">
          <!-- CLASS PROJECTS SECTION --> 
          <div id="CLASS_PROJECTS_DIV">
            <div class="container row justify-content-left align-items-left h6 border-bottom">CLASS PROJECTS</div>
            <div id="CPROJ_DIV" class="container row FLD"></div>
            <br>
          </div>
        </li>

        <li id="rsch_li">
          <!-- RESEARCH --> 
          <div id="RESEARCH_DIV">
            <div class="container row justify-content-left align-items-left h6 border-bottom">RESEARCH</div>
            <div id="RSCH_DIV" class="container row FLD"></div>
            <br>
          </div>
        </li>

        <li id="pproj_li">
          <!-- PERSONAL PROJECTS--> 
          <div id="PPROJ_SECTION_DIV">
            <div class="container row justify-content-left align-items-left h6 border-bottom">PERSONAL PROJECTS</div>
            <div id="PPROJ_DIV" class="container row FLD"></div>
          </div>
          <br>
        </li>

        <li id="work_li">
          <!-- WORK HISTORY--> 
          <div id="EMPLOYMENT_DIV">
            <div class="container row justify-content-left align-items-left h6 border-bottom">WORK HISTORY</div>
            <div id="WORK_DIV" class="container FLD"></div>
          </div>
          <br>
          </div>
        </li>
      </ul>
    <div id="END" class="container row w-100"></div>

      <!-- JavaScript -->
      <!-- jQuery first, then Popper.js, then Bootstrap JS -->
      <script src="{{url_for('static', filename='js/jquery-3.3.1.js')}}"></script>
      <script src="{{url_for('static', filename='js/popper.js')}}"></script>
      <script src="{{url_for('static', filename='js/bootstrap.js')}}"></script>
      <script src="{{url_for('static', filename='js/jquery-ui.js')}}"></script>
      <script src="{{url_for('static', filename='js/resume.js')}}"></script>
      <script>$("#sortable").sortable();</script>
  </body>
</html>
